<!-- Gallery Container -->
<div id="image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="gallery">
  <div class="gallery-grid-sizer"></div>
  {% for picture in include.gallery.pictures %}
    <div class="gallery-grid-item image-wrapper">
        <a href="https://wsrv.nl/?url={{ site.github.url }}/assets/galleries/{{ include.gallery.picture_path }}/{{ picture.original }}&w=1200&h=1200&fit=inside"
          data-sub-html="<h4>{{ picture.title | escape }}</h4><p>{{ picture.caption | escape }}</p>">
          <img src="https://wsrv.nl/?url={{ site.github.url }}/assets/galleries/{{ include.gallery.picture_path }}/{{ picture.original }}&w=600&h=600&fit=inside"
                alt="{{ picture.title }}" />
        </a>
    </div>
  {% endfor %}
</div>

<!-- Initialize LightGallery and Isotope -->
<script>
  $(document).ready(function() {
    // Initialize LightGallery for the specific gallery
    lightGallery(document.getElementById('image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}'), {
      thumbnail: true,          // Enable thumbnails
      // zoom: true,               // Enables zoom feature
      // fullScreen: true,         // Enables full screen mode
      // autoplay: true,           // Enable autoplay for slideshow
      pause: 3000,              // Pause duration for slideshow (3 seconds)
      plugins: [lgZoom, lgThumbnail, lgAutoplay], // Include necessary plugins
      subHtmlSelectorRelative: true,
      showThumbByDefault: true, // Disable showing thumbnails by default
    });

    // Initialize Isotope
    var $grid = $('#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}').isotope({
      itemSelector: '.gallery-grid-item',
      layoutMode: 'masonry',
      percentPosition: true,
      masonry: {
        columnWidth: '.gallery-grid-sizer'
      }
    });

    // Layout Isotope after each image loads
    $grid.imagesLoaded().progress(function() {
      $grid.isotope('layout');
    });
  });
</script>
