<!-- Gallery Container -->
<div id="image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="image-gallery">
  <div id="gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="gallery-sizer"></div>
  {% for picture in include.gallery.pictures %}
    <div class="image-wrapper">
      <a href="{{ site.url }}{{ site.baseurl }}/assets/galleries/{{ include.gallery.picture_path }}/{{ picture.original }}"
      data-sub-html="<h4>{{ picture.title | escape }}</h4><p>{{ picture.caption | escape }}</p>">
      <img alt="{{ picture.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/galleries/{{ include.gallery.picture_path }}/{{ picture.thumbnail }}" />
    </a>
    </div>
  {% endfor %}
</div>

<!-- Initialize LightGallery and Isotope -->
<script>
  // Initialize LightGallery for all items in #image-gallery
  lightGallery(document.getElementsByClassName('image-gallery'), {
    thumbnail: true,
    zoom: true,
    selector: 'a',
    plugins: [lgThumbnail, lgZoom],
    subHtmlSelectorRelative: true
  });

  // Wait for the document to load
  $(document).ready(function() {
    // Initialize Isotope
    var $grid = $('#image-gallery').isotope({
      itemSelector: '.image-wrapper',  // Make sure this matches the class for each image container
      layoutMode: 'masonry',            // or another layout like 'fitRows'
      percentPosition: true,
      masonry: {
        columnWidth: '.gallery-sizer'   // Ensure this matches the size reference element in your HTML
      }
    });

    // Layout Isotope after each image loads
    $grid.imagesLoaded().progress(function() {
      $grid.isotope('layout');
    });
  });
</script>