<!-- Gallery Container -->
<div id="image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="image-gallery">
  <div id="gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="gallery-sizer"></div>
  
  {% for picture in include.gallery.pictures %}
    <div class="image-wrapper">
      <a href="https://wsrv.nl/?url={{ site.github.url }}/assets/galleries/{{ include.gallery.picture_path }}/{{ picture.original }}&w=2400&h=2400&fit=inside"
         data-lightbox="{{ picture.title }}"
         data-sub-html="<h4>{{ picture.title | escape }}</h4><p>{{ picture.caption | escape }}</p>">
         <img src="https://wsrv.nl/?url={{ site.github.url }}/assets/galleries/{{ include.gallery.picture_path }}/{{ picture.thumbnail }}&w=1200&h=1200&fit=inside"
              alt="{{ picture.title }}"
              style="max-width: 100%;" />
      </a>
    </div>
  {% endfor %}
</div>

<!-- Initialize LightGallery and Isotope -->
<script>
  $(document).ready(function() {
    // Initialize LightGallery for the specific gallery
    lightGallery(document.getElementById('image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}'), {
      thumbnail: false,         // Disable thumbnails
      zoom: true,               // Enables zoom feature
      fullScreen: true,         // Enables full screen mode
      autoplay: true,           // Enable autoplay for slideshow
      pause: 3000,              // Pause duration for slideshow (3 seconds)
      plugins: [lgZoom, lgAutoplay], // Include the necessary plugins without thumbnail
      subHtmlSelectorRelative: true
    });

    // Initialize Isotope
    var $grid = $('#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}').isotope({
      itemSelector: '.image-wrapper',
      layoutMode: 'masonry',
      percentPosition: true,
      masonry: {
        columnWidth: '.gallery-sizer'
      }
    });

    // Layout Isotope after each image loads
    $grid.imagesLoaded().progress(function() {
      $grid.isotope('layout');
    });
  });
</script>