{% assign default_width = 2400 %}
{% assign default_height = 2400 %}
{% assign default_width_thumb = 1200 %}
{% assign default_height_thumb = 1200 %}

<a href="https://wsrv.nl/?url={{ site.github.url }}/assets/{{ include.src }}&w={{ include.width | default_width }}&h={{ include.height | default_height }}&fit=inside"
data-sub-html="<h4>{{ include.title | escape }}</h4><p>{{ include.caption | escape }}</p>">
<img src="https://wsrv.nl/?url={{ site.github.url }}/assets/{{ include.src }}&w={{ include.width | default_width_thumb }}&h={{ include.height | default_height_thumb }}&fit=inside"
      alt="{{ picture.title }}"
      max-width="100%" />
</a>