<!-- {% assign width = include.width | default: 2400 %}
{% assign height = include.height | default: 2400 %}
{% assign width_thumb = include.width_thumb | default: 1200 %}
{% assign height_thumb = include.height_thumb | default: 1200 %} -->

<a href="https://wsrv.nl/?url={{ site.github.url }}/assets/{{ include.src }}&w=2400&h=2400&fit=inside"
data-sub-html="<h4>{{ include.title | escape }}</h4><p>{{ include.caption | escape }}</p>">
<img src="https://wsrv.nl/?url={{ site.github.url }}/assets/{{ include.src }}&w=2400&h=2400&fit=inside"
      alt="{{ include.title | escape }}"
      max-width="100%" />
</a>

      <!-- {% include image_wrapper_.html
        src="galleries/{{ include.gallery.picture_path }}/{{ picture.original }}" 
        title="{{ picture.title }}"
        caption="{{ picture.caption }}"
        width=""
        height=""
        width_thumb=""
        height_thumb=""
      %} -->

<!-- <a href="https://wsrv.nl/?url={{ site.github.url }}/assets/{{ include.src }}&w={{ width }}&h={{ height }}&fit=inside"
data-sub-html="<h4>{{ include.title | escape }}</h4><p>{{ include.caption | escape }}</p>">
<img src="https://wsrv.nl/?url={{ site.github.url }}/assets/{{ include.src }}&w={{ width_thumb }}&h={{ height_thumb }}&fit=inside"
      alt="{{ include.title }}"
      max-width="100%" />
</a> -->