// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.footer-left {
  text-align: left;
  width: 40%;
  float: left;
}

.footer-center {
  text-align: center;
  width: 10%;
}

.footer-right {
  text-align: right;
  width: 40%;
  float: right;
}

/* Post navigation links */
.post_navi {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi-item {
  padding: 0 2.2em;
  position: relative;
  color: inherit !important;
}

.nav_prev {
  text-align: left;
  position: relative;
  left: 0px;
}

.nav_next {
  text-align: right;
  position: relative;
  right: 0px;
}

.nav_prev,
.post_navi-arrow {
  left: 0;
}

.nav_next,
.post_navi-arrow {
  right: 0;
}

.post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  opacity: 0.3;
}


/* Style LightGallery captions */
.lg-sub-html h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.lg-sub-html p {
  font-size: 1em;
  color: #888;  /* Adjust as needed */
  margin-top: 0.5em;
}


.gallery {
  display: block;

  /* gallery-grid 5 columns */
  .gallery-grid-sizer { width: 33%; }
  /* 2 columns */
  .gallery-grid-item--width2 { width: 48%; }

  .gallery-grid-item {
    float: left;          /* Allows the image to be floated to the left */
    padding: 3px;        /* Adds padding around each image wrapper */
    box-sizing: border-box; /* Ensures padding is included in the total width/height */

    img {
      width: 100%;       /* Sets image to take full width of its container */
      height: auto;      /* Maintains aspect ratio */
      display: block;    /* Ensures no extra space below the image */
    }
  }

  &:after {
    content: '';         /* Creates a clearfix for floated elements */
    display: block;
    clear: both;        /* Clears the float */
  }

  .invisible {
    display: none;
  }

}